@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="welcome">Welcome to the Bleakwind Buffet!</h1>
        <p class="combo-p">
            We at Bleakwind Buffet are proud to bring you authentic fantasy meals straight from the world of Skyrim. Shake the blood off your sword and sake your thirst with one of our old-fashioned sailor sodas. Hack into a Smokehouse Skeleton with your dagger.
            Or vanquish the the mighty Thalmor Triple Burger! You’ve had a hard adventure and earned your loot, so spend it with us!.
        </p>
        <p class="combo-p">Make it a combo! Combine any entree, side, and drink for a $1 discount</p>
        <p class="combo-p"> Sailor Soda flavors: Blackberry, Cherry, Grapefruit, Lemon, Peach, Watermelon </p>
        <form id="item-database">
            <div id="search">
                <input type="text" name="SearchTerms" value="@Model.SearchTerms" placeholder="Item Name"/>
                <input type="submit" value="Search" />
            </div>
            <div id="filters">
                <h4>Categories</h4>
                @foreach(String type in BleakwindBuffet.Data.Menu.Menu.Category)
                {
                    <label>
                        @type
                        <input type="checkbox" name="Categories" value="@type"
                               checked="@Model.Categories.Contains(type)"/>
                    </label>
                }
                <h4>Calories</h4>
                <div>
                    <input name="calMin" type="number" min="0" step="1" placeholder="Min" />
                    to
                    <input name="calMax" type="number" min="0" step="1" placeholder="Max" />
                </div>
                <h4>Price</h4>
                <div>
                    $
                    <input name="priceMin" type="number" min="0" step=".01" placeholder="Min" />
                    to $
                    <input name="priceMax" type="number" min="0" step=".01" placeholder="Max" />
                </div>
            </div>
            <div id="results">
                <div>
                    <h2 class="categories">Entrees</h2>
                    @foreach (BleakwindBuffet.Data.IOrderItem i in Model.items)
                    {
                        if (i is BleakwindBuffet.Data.Entrees.Entree)
                        {
                            <div class="entree-item">
                                <div class="menu-name">@i.ToString()</div>
                                <div class="menu-price">Price: $@i.Price</div>
                                <div class="menu-cals">Calories: @i.Calories</div>
                                <div class="menu-description">@i.Description</div>
                            </div>
                        }
                    }
                </div>
                <div>
                    <h2 class="categories">Drinks</h2>
                    @foreach (BleakwindBuffet.Data.IOrderItem i in Model.items)
                    {
                        if (i is BleakwindBuffet.Data.Drinks.Drink)
                        {
                            <div class="drink-item">
                                <div class="menu-name">@i.ToString()</div>
                                <div class="menu-price">Price: $@i.Price</div>
                                <div class="menu-cals">Calories: @i.Calories</div>
                                <div class="menu-description">@i.Description</div>
                            </div>
                        }
                    }
                </div>
                <div>
                    <h2 class="categories">Sides</h2>
                    @foreach (BleakwindBuffet.Data.IOrderItem i in Model.items)
                    {
                        if (i is BleakwindBuffet.Data.Sides.Side)
                        {
                            <div class="side-item">
                                <div class="menu-name">@i.ToString()</div>
                                <div class="menu-price">Price: $@i.Price</div>
                                <div class="menu-cals">Calories: @i.Calories</div>
                                <div class="menu-description">@i.Description</div>
                            </div>
                        }
                    }
                </div>
            </div>
        </form>
    </div>
